<!doctype html>
<html>
   <body>
   
      <form action = "/result" method = "POST">
         <p>Name <input type = "text" name = "Name" /></p>
         <p>Student&nbsp;Number <input type = "text" name = "StudentNumber" /></p>
         <!-- 성별 -->
         <p>Gender</p>
         <p> <input type="radio" value = "Male" name = "Gender" /> Male 
             <input type="radio" value = "Female" name = "Gender" /> Female
         </p>
         <!-- 학과 -->
         <!-- 프로그래밍 언어 -->
         <p>Programming Languages</p>
         <label><input type="checkbox" name="Python"> Python</label>
         <label><input type="checkbox" name="Java"> Java</label>
         <label><input type="checkbox" name="HTML"> HTML</label>
         <label><input type="checkbox" name="C++"> C++</label>

         <p><input type = "submit" value = "submit" /></p>
      </form>
     
      
   </body>
</html>
